
.loader {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  display: block;
}

.common_navbar_brand img {
  max-height: 90px;
  width: auto;
} 

.common_navbar_brand span {
  font-size: 32px;
  margin-left: 15px;
} 

.navbar{
  padding: 0px;
}

.common_nav_items{
  text-align: center;
}

.carousel {
  margin-top: 99px;
}

.carousel-caption {
  top:65%;
  left: 5%;
  right: 50%;
}

.carousel-caption p {
  text-align: right;
}

.fixed_content {
  top: 20%;
  left:3%;
  position:fixed;
  z-index: 3;
}

.fixed_content button {
  padding: 20px 60px;
  margin: 5px 0px;
}