
.loader {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  display: block;
}

hr {
  height: 3px;
  opacity: 0.5;
}

ol, ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}

.common_link_hover:hover{
  font-weight: bold;
  text-decoration: underline;
}

.common_screen_margin {
  margin-top: 115px;
  padding: 15px;
  /* min-height: 650px; */
}

.common_screen_margin .common_screeen_container{
   background-color:#073642;
   border-radius: 10px;
   color: #fff;
   padding: 25px;
}

.common_form_margin{
  margin-top: 115px;
  padding: 15px;
  background: #F0F2F5;
}

.common_form_container{
  background-color:#fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  color: #073642;
  padding: 25px;
}

.progress-bar{
  color: white;
}

/*************************************************Start HEADER ********************************************/

#common_hamBurger_Icon {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
}

#common_hamBurger_Icon:hover {
  background-color: #FF9800;
}

.common_navbar_brand img {
  max-height: 90px;
  width: auto;
} 

.common_navbar_brand span {
  font-size: 36px;
  margin-left: 15px;
} 

.navbar{
  padding: 0px;
}

.common_nav_items{
  text-align: center;
  font-size: 16px;
  margin: 0px 15px;

}

.common_nav_items i{
  font-size: 2.3rem;
}

.common_sidenav_items {
  font-size: 24px;
  margin: 5px 15px;
  padding: 18px 0px;
}

.common_sidenav_items i{
  font-size: 2.3rem;
  margin-right: 20px;
  padding: 0px 10px;
}

.common_search_form {
  max-width: 650px;
  margin: auto;
}

.nav-link{
  color: white;
}

.common_inner_nav_link{
  border: 1px solid white;
  border-radius: 5px;
  margin: 5px;
}

.badge{
  font-size: 0.35em;
  background-color: #FF0000;
  --bs-bg-opacity: 1;
}


.carousel {
  height: 85vh; 
  overflow: hidden;
}

.carousel-caption {
  top:65%;
  left: 5%;
  right: 50%;
}

.carousel-caption p {
  text-align: right;
}

/************************************************* END HEADER ********************************************/


/********************* Fixed Donation Buttons *****************/
.btn_donation_fixed_mobile{
  margin-top: 150px;
  font-size: 1.5em;
  color: white;
  padding: 10px;
}

.btn_donation_fixed_desktop {
  top: 20%;
  position:fixed;
  z-index: 3;
}



.btn_donation_fixed_desktop button {
  position: relative;
  padding: 32px 105px;
  margin: 10px 0px;
  border-radius: 12px;
  font-size: 20px;
}

.btn_donation_fixed_desktop .btn_donation_right_hand {
  position: absolute;
  width: 68px;
  top: 0%;
  right: 0%;
}

.btn_donation_fixed_desktop .btn_donation_left_hand {
  position: absolute;
  width: 68px;
  bottom: 0%;
  left: 0%;
}


/********************* Fixed Donation Buttons *****************/

.post_card{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

/************************************************* START FOOTER ********************************************/

.commom_footer_styles{
  font-size: 1.1em;
  color: azure;
}

.footer_logo {
  max-height: 115px;
  margin: 35px 0px;
}


.footer_right_panel{
  display: flex;
  flex-direction: row-reverse;
}

.social_icon_styles{
  font-size: 40px;
  color: azure;
}

.footer_app_btn img{
  max-width: 90%;
}

.footer_row {
  font-size: x-large;
}

.footer_row li {
  padding: 10px 0px;
}

/************************************************* END FOOTER ********************************************/

.auth_component {
  padding: 0px 0px 20px;
  max-width: 500px;
  margin: auto;
}

.auth_component .form_field {
  position: relative;
}

.auth_component .form-control{
  font-size: 1.2rem;
  padding: 10px 5px 10px 65px;
  margin: 10px 0px;
}


.auth_component .form_icon {
  position: absolute;
  z-index: 3;
  left: 5%;
  font-size: 1.3rem;
  top: 24%;
}

.auth_component .form_submit_button{
  padding: 10px;
  margin: 10px 0px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.new_account_button{
  width: 60%;
  padding: 16px;
  margin: 10px auto;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}


.notification_panel{
  position: absolute;
  top: 12%;
  right: -42%;
  width: 400px;
  padding: 0 10px;
  height: 85vh;
  border-radius: 10px;
  transition: all 0.5s;
  background: #FFFFFF;
  z-index: 10;
}

.notification_panel.active {
  top: 12%;
  right: 1%;
}


/********** Extra Large devices only **********/
@media (min-width: 1200px) {
  .offcanvas-start{
    width: 460px;
  }

}


/********** Large devices only **********/
@media (min-width: 1200px) and (max-width: 1500px) {
  /* HEADER PAGE */
  #common_hamBurger_Icon{
    margin: 15px;
  font-size: 20px;
  }

  .common_navbar_brand img {
    max-height: 70px;
  }

  .common_navbar_brand span {
    font-size: 32px;
  }

  .carousel {
    height: 650px;
  }
  .carousel img{
    margin-top: 70px;
  }

  .footer_row {
    font-size: 1.3rem;
  }
}

/********** Mediam -Large devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* HEADER PAGE */

  #common_hamBurger_Icon{
    margin: 15px 10px;
    font-size: 20px;
  }

  .common_navbar_brand img {
    max-height: 70px;
  }

  .common_navbar_brand span {
    font-size: 30px;
  }

  .common_search_form {
    max-width: 400px;
  }

  .common_nav_items {
    font-size: 13px;
  }

  .carousel {
    height: 590px;
  }
  .carousel img{
    margin-top: 70px;
  }


  .footer_row {
    font-size: 1.1rem;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  
  .carousel {
    height: 530px;
  }
  .carousel img{
    margin-top: 100px;
  }
  
  .footer_row {
    font-size: 1rem;
  }


}



/********** Small devices only **********/
@media (min-width: 576px) and (max-width: 767.98px) {
      
  .carousel {
    height: 430px;
  }
  .carousel img{
    margin-top: 70px;
  }
  .footer_row {
    font-size: 1rem;
  }
}

/************ Extra small devices (portrait phones, less than 576px) **********/
@media (max-width: 575.98px) {
  .carousel {
    height: 200px;
  }

  .footer_row {
    font-size: 1.1rem;
  }
}
