.common_navbar_brand img {
  max-height: 90px;
  width: auto;
} 

.common_navbar_brand span {
  font-size: 32px;
  margin-left: 15px;
} 

.navbar{
  padding: 0px;
}

.carousel {
  margin-top: 99px;
}

.carousel-caption {
  top:65%;
  left: 5%;
  right: 50%;
}

.carousel-caption h3 {
  font-size: 1.6rem;
  color:black
}

.carousel-caption p {
  font-size: 1.6rem;
  color:black;
  text-align: right;
}

.fixed_content {
  top: 20%;
  left:3%;
  position:fixed;
  z-index: 2;
}

.fixed_content button {
  padding: 20px 60px;
  margin: 5px 0px;
}